.form-control {
    display:block;
    padding-top:20px;
    height:auto;
    margin-bottom:10px;
  }
  .form-block {
    display:block;
    padding-top:5px;
  }
  label {
    display: inline-block;
  }
  input[type="text"], input[type="email"], input[type="tel"]  {
    width:200px;
    height:20px;
    padding:2px;
    margin-left:20px;
  }
  
  select {
    width:200px;
    height:20px;
    padding:2px;
    margin-left:20px;
  }
  .red {
    border:solid 1px red;
  }
  .redText {
    color:red;
  }
  .small {
    font-size:10px;
  }
  .message {
    color:green;
    font-size:25px;
  }
  .radio-buttons label{
    font-size:13px;
  }
  